@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

:root {
  --bg: #edd5b1;
  --element: #141414;
  --muted: #2e2e2e;
  --highlight: rgba(63, 128, 67, 0.4);
  --accent-1: rgb(63, 128, 67);
  --accent-2: rgb(151, 49, 49);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  font-family: 'Walter Turncoat', cursive;
}

input,
button {
  font: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
}

h1 {
  font-size: 1.25rem;
  margin: 0 auto 1.5rem auto;
}

table {
  font-size: 1.1rem;
}

thead {
  font-size: 1.125rem;
}

thead > tr {
  height: 3rem;
}

tr {
  height: 2.25rem;
}

th {
  text-align: left;
}

th:nth-child(3) {
  text-align: right;
}

tr > td:first-child {
  padding-left: 0.25rem;
}

tr > td:nth-child(2) {
  padding-left: 0.5rem;
}

tr > td:nth-child(3) {
  text-align: right;
}

.wrapper {
  background-color: var(--bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  max-width: 580px;
  margin: 0 auto;
  padding: 1rem 1.125rem;
}

.form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

input {
  background-color: inherit;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid;
  outline: none;
  margin-right: 0.5rem;
  text-align: left;
}

input:nth-child(1) {
  width: 40%;
  min-width: 80px;
}

input:nth-child(2) {
  width: 20%;
  min-width: 40px;
}

input::placeholder {
  font-size: 0.95rem;
}

.input-group {
  flex: 3;
}

.counter-container {
  text-align: right;
  flex: 1;
}

.counter-container p {
  font-size: 0.9rem;
  font-weight: bold;
}

.counter-container span {
  color: var(--accent-1);
  font-size: 1.115rem;
}

.btn-group {
  margin: 1.5rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.btn {
  display: inline-block;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid var(--element);
  border-radius: 3px;
  box-shadow: 2px 2px 2px var(--muted);
  transition: box-shadow 0.5s ease;
}

.btn:active {
  box-shadow: none;
}

.add-btn {
  font-size: 120%;
  width: 2.8rem;
}

.next-btn {
  padding: 0.25rem 0;
  flex: 3 1 auto;
}

.res-btn {
  padding: 0.25rem;
  border: 2px dashed;
  flex: 1 1 auto;
}

.clr-btn {
  font-size: 0.9rem;
  padding: 0 0.5rem;
  border: 2px solid var(--accent-2);
}

.del-btn {
  width: 2rem;
  padding: 0;
  border: 1px solid var(--accent-2);
}

.actors-list {
  width: 100%;
}

@media (min-width: 500px) {
  .actors-list {
    width: 425px;
  }
}

.active {
  background-color: var(--highlight);
  transition: background-color 0.5s;
}

.footer {
  width: 100%;
  border-top: 1px solid var(--element);
  text-align: center;
  padding: 0.5rem 1rem;
}

.footer p a {
  color: var(--element);
}
