@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-height: 100vh;
  background-color: #edd5b1;
  font-family: 'Walter Turncoat', cursive;
}

input,
button {
  font: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #edd5b1 inset;
  transition: background-color 5000s ease-in-out 0s;
}

h1 {
  font-size: 1.8rem;
  margin: 0 auto 2rem auto;
}

form {
  position: relative;
  margin-top: 1rem;
}

button {
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

thead {
  font-size: 1.4rem;
}

thead tr {
  height: 50px;
}

tbody tr {
  height: 50px;
}

tbody td {
  font-size: 1.25rem;
}

.container {
  max-width: 680px;
  margin: 0 auto;
  padding: 1rem;
}

.form-container {
  display: flex;
  align-items: baseline;
}

.input-field {
  background-color: #edd5b1;
  font-family: inherit;
  font-size: 1.2rem;
  margin-right: 1rem;
  border: none;
  border-bottom: 2px solid;
  outline: none;
}

.input-text {
  min-width: 30%;
  max-width: 40%;
}

.input-number {
  max-width: 15%;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 2rem;
  font-size: 120%;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #141414;
}

.add-btn {
  width: 3rem;
}

.clr-btn {
  border: 2px dashed;
}

.next-btn {
  margin: 1.5rem auto;
  padding: 0.5rem 0;
  width: 100%;
}

.del-btn {
  padding: 0;
  font-weight: 500;
  border: 1px solid grey;
}

.actors-list {
  clear: both;
  max-width: 425px;
}

.del-btn-cell {
  text-align: right;
}

.active {
  background-color: rgba(63, 128, 67, 0.4);
  transition: background-color 0.5s;
}

/* Tooltips */

[data-tooltip] {
  cursor: pointer;
  position: relative;
}

[data-tooltip]::before,
[data-tooltip]::after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s cubic-bezier(0.5, 1, 0.25, 1);
  z-index: 1;
}

[data-tooltip]::before {
  padding: 4px;
  width: 80px;
  border-radius: 3px;
  background: #141414;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
}

[data-tooltip]::after {
  border: 8px solid transparent;
  width: 0;
  content: '';
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  visibility: visible;
  opacity: 1;
}

/* Top tooltip  */

[data-tooltip].t-top::before {
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  transform: translateX(-50%);
}
[data-tooltip].t-top::after {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 8px solid #141414;
  border-bottom: none;
}
[data-tooltip].t-top:hover::before,
[data-tooltip].t-top:hover::after {
  transform: translateX(-50%) translateY(-2px);
}
